* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Inter"; 
    color:rgba(255, 255, 255, 1);
} 
.ONE{
    padding: 16px calc(1.5vw  + 11.259px);
    background: rgba(4, 56, 115, 1);
}
.header-content{
    display: flex;
    gap: 217px;
    align-items: center;
}
.logo{
    width: 100%;
    max-width: 191px;
}
.menu{
    display: none;
}
.LinkButton{
    display: flex;
    gap: 75px;
}
.nav-links{
    display: flex;
    gap: 32px;
}
.nav-links div{
    display: flex;
    justify-items: center;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 24px;
}
.Login{
    width: 126px;
    height:60px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 228, 146, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: rgba(4, 56, 115, 1);
}
.ProjectButton{
    width:227px;
    height: 60px;
    border-radius: 8px;
    background: rgba(79, 156, 249, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}










.TWO{
    padding: 100px calc(1.5vw  + 11.259px);
    background: rgba(4, 56, 115, 1);
}
.All{
display: flex;
flex-wrap: wrap;
}
.Project {
    display: flex;
    flex-direction: column;
    justify-content: center; 

}
.Project h1{
    width: calc(34.1vw  + 178.963px);
    font-size: calc(2.6vw  + 27.704px);
    font-weight: 700;
    line-height: calc(3.1vw  + 33.531px);
    margin-bottom: 24px;

    
}
.Project p{
    width: calc(34.1vw  + 178.963px);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
}
.Project button{
    width:227px;
    height: 60px;
    border-radius: 8px;
    background: rgba(79, 156, 249, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}
.cube{

    height: 456.39px;
    background: rgba(196, 222, 253, 1);
}







@media (max-width:770px){
    .LinkButton{
        display: none;
    }
    .header-content{
        display: flex;
        gap: 0;
        gap: calc(79.8vw  - 143.289px);
        align-items: center;
    }
    .logo{
        width: calc(12.5vw  + 95px);
    }
    .menu{
        display: flex;
    }
    .Project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .Project button{

        margin-bottom: 100px;
    }
    .All{
        display: block;
        }
}