* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Inter"; 
    color:rgba(255, 255, 255, 1);
} 
.ONE{
    padding: 16px calc(1.5vw  + 11.259px);
    background: rgba(4, 56, 115, 1);
}
.header-content{
    display: flex;
    gap: 217px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100%;
    max-width: 191px;
}
.menu{
    display: none;
}
.LinkButton{
    display: flex;
    gap: 75px;
}
.nav-links{
    display: flex;
    gap: 32px;
}
.nav-links div{
    display: flex;
    justify-items: center;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 24px;
}
.Login{
    width: 126px;
    height:60px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 228, 146, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: rgba(4, 56, 115, 1);
}
.ProjectButton{
    width:227px;
    height: 60px;
    border-radius: 8px;
    background: rgba(79, 156, 249, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}










.TWO {
    padding: calc(5.6vw + 62.222px)  calc(1.5vw + 11.259px);
    background: rgba(4, 56, 115, 1) url('./image/Element1.svg') no-repeat center center;
    background-size: cover;
}

.All{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Project {
    display: flex;
    flex-direction: column;
    justify-content: center; 

}
.Project h1{
    width: calc(34.1vw  + 178.963px);
    font-size: calc(2.6vw  + 27.704px);
    font-weight: 700;
    line-height: calc(3.1vw  + 33.531px);
    margin-bottom: 24px;

    
}
.Project p{
    width: calc(34.1vw  + 178.963px);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
}
.Project button{
    width:227px;
    height: 60px;
    border-radius: 8px;
    background: rgba(79, 156, 249, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}
.cube{
width: 100%;
max-width: 679px;
border-radius: 30px;
}








.grid-container {
    display: grid;
    padding: calc(5.6vw + 62.222px)  calc(1.5vw + 11.259px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "item-1 item-2"
    "item-3 item-4";
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-1{
    grid-area: item-1;
}
.item-2{
    grid-area: item-2;
}
.item-3{
    grid-area: item-3;
}
.item-4{
    grid-area: item-4;
}

.Management {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%;
}

.ManagementIMG {
    width: 100%;
    max-width: 719px;
    border-radius: 30px;
}

.Together {
    width: 100%;
    max-width: 583px;
}

.Management h2 {
    width: calc(30.5vw + 190.519px);
    font-size: calc(3.3vw + 25.333px);
    font-weight: 700;
    line-height: calc(4vw + 30.66px);
    margin-bottom: 24px;
    color: rgba(33, 37, 41, 1);
}

.Management p {
    width: calc(30.5vw + 190.519px);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
    color: rgba(33, 37, 41, 1);
}

.grid-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 201px;
    height: 63px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    background: rgba(79, 156, 249, 1);
    margin-bottom: 60px;
}





.feature-section {
    padding: calc(5.6vw + 62.222px) calc(1.5vw + 11.259px);
    background: rgba(4, 56, 115, 1);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.feature-info {
    flex-direction: column;
    justify-content: center;
}

.feature-info h2 {
    width: calc(24.4vw + 209.778px);
    font-size: calc(2.6vw + 27.704px);
    font-weight: 700;
    line-height: calc(3.1vw + 33.531px);
    margin-bottom: 24px;
}

.feature-info p {
    width: calc(24.4vw + 209.778px);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
}

.feature-info button {
    width: 227px;
    height: 60px;
    border-radius: 8px;
    background: rgba(79, 156, 249, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 60px;
}

.feature-image {
    width: 100%;
    max-width: 679px;
    border-radius: 30px; 
}








.customization{
    padding: calc(5.6vw + 62.222px) calc(1.5vw + 11.259px);
    background: rgba(255, 255, 255, 1);
    background-size: cover;
    
}

.Customise {
    display: flex;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
}
.Customise-info h2 {
    width: calc(24.4vw + 209.778px);
    font-size: calc(2.6vw + 27.704px);
    font-weight: 700;
    line-height: calc(3.1vw + 33.531px);
    margin-bottom: 24px;
    color: rgba(33, 37, 41, 1);
}

.Customise-info p {
    width: calc(24.4vw + 209.778px);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
    color: rgba(33, 37, 41, 1);
}

.Customise-info button {
    width: 227px;
    height: 60px;
    border-radius: 8px;
    background: rgba(79, 156, 249, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 60px;
}

.Customise-image {
    width: 100%;
    max-width: 679px;
    border-radius: 30px; 

}





.user-review {
    padding: calc(5.6vw + 62.222px) calc(1.5vw + 11.259px);
    position: relative;
    text-align: center; /* Центрирование текста внутри .review-intro */
}

.review-intro {
    margin-bottom: calc(2vw + 20px); /* Добавьте отступ между текстом и каруселью */
}

.user-review h2 {
    color: rgba(33, 37, 41, 1);
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    margin-bottom: 24px;
}

.user-review p {
    max-width: 979px; /* Установка максимальной ширины для абзаца */
    color: rgba(33, 37, 41, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 60px;
}

/* Центрирование и стилизация карусели */
.splide__track {
    overflow: hidden;
    position: relative;
    z-index: 0;

}

.splide__list {
    display: flex; /* делает элементы внутри flex-контейнером */

}

.splide__slide {
    flex: 0 0 auto; /* чтобы элементы не растягивались и не сжимались */
}

.review {
    width: 424px;
    height: 761px;
    background: rgba(4, 56, 115, 1);
    border-radius: 10px;
    padding: 80px 44px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* Центрирование слайдов внутри .splide__list */
    text-align: left;
}
.review  div {
    display: flex;
    flex-direction: column; /* элементы будут располагаться вертикально */
    gap: 25px; /* отступы между элементами */
    font-size: 18px; /* размер шрифта */
    line-height: 1.5; /* межстрочный интервал */
}

.review  div span {
    display: block; /* чтобы элементы шли друг под другом */
    
}

.review ul {
    padding: 0;
    margin: 0;
    list-style: none; /* убираем маркеры списка */

}

.review li {
    display: flex;
    align-items: center; /* выравнивание иконок и текста по центру */
    margin-bottom: 27px; /* отступ между элементами списка */
    
}

.review img {
    margin-right: 20px; /* отступ между иконкой и текстом */
    vertical-align: middle; /* выравнивание иконки по центру текста */
}
.review button{
    width: 166px;
    height: 51px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background: rgba(79, 156, 249, 1);

}








@media (max-width:770px){
    .TWO {
        background: rgba(4, 56, 115, 1) url('./image/Element2.svg') no-repeat center center;
        background-size: cover;
    }
    .LinkButton{
        display: none;
    }
    .header-content{
        display: flex;
        gap: 0;
        gap: calc(79.8vw  - 143.289px);
        align-items: center;
    }
    .logo{
        width: calc(12.5vw  + 95px);
    }
    .menu{
        display: flex;
    }
    .Project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .Project button{

        margin-bottom: 100px;
    }
    .All{
    display: block;
    }
    .Management {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100%;
    text-align: center; 
    }
    .ManagementIMG{
    margin-bottom: 100px;
    }
    .TogetherIMG{
    margin-bottom: 100px;
    }
    .grid-container{
    grid-template-columns: 1fr;
    grid-template-areas:"item-1"
                        "item-2"
                        "item-4"
                        "item-3";
    
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        height: 100%;
        text-align: center; 
    }
    .Customise {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        height: 100%;
        text-align: center; 
    }

}